{"SubTexture":[{"width":18,"y":87,"height":22,"name":"leftleg","x":93},{"width":18,"y":87,"height":20,"name":"rightleg","x":113},{"width":22,"y":1,"height":29,"name":"lefthand","x":203},{"width":15,"y":1,"height":28,"name":"righthand","x":227},{"width":90,"y":1,"height":108,"name":"body","x":1},{"width":108,"y":1,"height":84,"name":"2","x":93},{"width":114,"y":111,"height":84,"name":"3","x":1}],"imagePath":"gogogo_tex.png","name":"gogogo2"}